body {
    background: #433235;
    color: white;
}

.row {
    margin-top: 80px;
}

.container-fluid {
    height: 100%;
}

#clock {
    font-family: 'Comfortaa', cursive;
    font-size: 162px;
}

#date {
    font-size: 68px;
}

.small {
    font-size: 28px;
    font-style: italic;
}
