body {
    background: #523219;
    color: white;
}

.row {
    margin-top: 80px;
}

.container-fluid {
    height: 100%;
}

#date {
    font-family: 'Comfortaa', cursive;
    font-size: 178px;
}



.small {
    font-size: 18px;
    font-style: italic;
}
